 * {
     box-sizing: border-box;
 }

 body {
     display: flex;
     justify-content: center;
     align-items: flex-start;
 }

 .container {
     max-width: 450px;
     min-width: 450px;
     display: flex;
     flex-wrap: wrap;
     border-left: 1px solid black;
 }

 .buttons{
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
 }

 #input{
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
 }

 #result {
     border-bottom: 1px solid black;
     border-right: 1px solid black;
     display: flex;
     flex-wrap: wrap;
     flex: 0 1 100%;
 }
 
 #input, #result {
    max-width: 500px;
     height: 60px;
     justify-content: flex-start;
     align-items: center;
     font-size: 1.5em;
     background: lightsteelblue;
     color: black;
     padding: 0 10px;
 }

 .button {
     display: flex;
     flex: 0 1 25%;
     justify-content: center;
     align-items: center;
     height: 50px;
     border: 1px solid black;
     border-top: none;
     border-left: none;
     cursor: pointer;
     font-size: 2em;
     background-color: gainsboro;
 }

 .operator{
    background-color: lightgreen;
 }